@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Color Theme Swatches in Hex */
.Shades-+-Jewel-Red-1-hex { color: #000000; }
.Shades-+-Jewel-Red-2-hex { color: #545454; }
.Shades-+-Jewel-Red-3-hex { color: #A8A8A8; }
.Shades-+-Jewel-Red-4-hex { color: #FFFFFF; }
.Shades-+-Jewel-Red-5-hex { color: #C22121; }

body{
  margin: 0;
  padding: 0;
  font-family: 'Mohave', sans-serif;

  background: rgb(0,0,0);

  background: linear-gradient(0deg, rgba(0,0,0,1) 90%, rgba(30,30,30,1) 100%);
  color: #FFFFFF;
}

a{
  color:#C22121;
  text-decoration: underline;
}

/* HEADER */
  #header{
    transition: 0.4s;
    position: sticky;
      top:0;
      left:0;

    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0px;  

    width: 100%;
    background-color: #000000;
    color: #FFFFFF;

    box-shadow: 0px 2px 10px #292929;
  }

  /* SMALLER HEADER */
  .smaller-header{
    transition: 0.4s;
    height: 55px;
    font-size: 0.6rem;
  }
  .smaller-header h1{
    position: relative;
    left: -10px;
  }
  /* HEADER ICON*/
  .header-icon {
    margin: 10px 10px 0px 20px;
    width: 50px;
    transition: 0.4s;
  }

/*CONTENT LIST*/
  #content-list {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;

    background-color: #000000;
    box-shadow: 0px 2px 10px #292929;

    visibility: hidden;
    opacity: 0;
    padding: 80px 0px 15px;
    font-size: 0px;
    transition: 1s;
  }
  #content-list .button {
    font-size: 0;
    opacity: 0;
    transition: 1s;
  }
  #content-list ul{
    list-style-type: none;
  }
  #content-list li{
    margin: 10px;
  }
  /* CONTENT LIST VISIBLE */
  #content-list.active{
    visibility: visible;
    font-size: 20px;
    opacity: 1;
  }
  #content-list.active .button{
    opacity: 1;
    font-size: 14px;
  }


/* MOVIES */
  #movies {
    text-align: center;
  }
  #movies .movies-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
  }
  #movies .movies-even{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    margin: 10px 30px 50px;
  }
  #movies .movies-odd{
    display: grid;
    grid-template-columns: 1fr 2fr;

    margin: 10px 30px 50px;
  }
  .button {
    background-color: #C22121;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: transparent;
  }

/***** HIGHLIGHTS *****/
  #highlights{
    display: flex;
    justify-content: space-evenly;
  }
  .highlight-gifs {
    width: 250px;
    background-color: #1a1a1a;
    padding: 5px;
    border-radius: 5%;
  }
  .highlight-container{
    text-align: center;
  }
  .gif-container{
    overflow: hidden;
    width: 260px;
    height: 370px;
  }
  /*Descrição*/
  .highlight-description h2{
    text-align: center;
    font-size: 13px;
    padding: 10px;
    transition: font-size 1s;
  }
  .highlight-description{
    background-color: #1a1a1a;
    border-radius: 10px;
    position: relative;
    bottom: 70px;
    left: 0px;
    transition: bottom 1s;
  }
  /*Interatividade*/
  #gif3-container:hover .highlight-description, #gif3-container:hover .highlight-description h2,
  #gif2-container:hover .highlight-description, #gif2-container:hover .highlight-description h2,
  #gif1-container:hover .highlight-description, #gif1-container:hover .highlight-description h2 {
    font-size: 19px;
    bottom: 100px;
  }

/*Responsividade*/
@media screen and (max-width: 860px){

  #highlights{
    flex-direction: column;
    align-items: center;
  }
/*
  .movies-even, .movies-odd {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
  }
*/
}

