@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --background-color: #000000;
  --background-highlight: #292929;
  
  --main-font-color: #FFFFFF;
  --secundary-font-color: #C22121;
  
  --gradient-start: #1E1E1E; /*rgba(30,30,30,1)*/
  --gradient-end: #000000; /*rgba(0,0,0,1)*/
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Mohave', sans-serif;

  background: var(--background-color);
  background: linear-gradient(0deg, var(--gradient-end) 90%, var(--gradient-start) 100%);
  color: #FFFFFF;
}

h1{
  font-size: 32px;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 24px;
}
p, label{
  font-size: 18px;
}

a{
  color:var(--secundary-font-color);
  text-decoration: underline;
}
.section-title{
  text-align: center;
  font-size: 1.5em;
}
/* HEADER */
  #header{
    transition: 0.4s;
    position: sticky;
      top:0;
      left:0;

    z-index: 3;

    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0px;  

    width: 100%;
    max-width: 100%;
    background-color: var(--background-color);
    color: var(--main-font-color);

    box-shadow: 0px 2px 10px var(--background-highlight);
  }

  /* SMALLER HEADER */
  .smaller-header{
    transition: 0.4s;
    height: 55px;
  }
  .smaller-header h1{
    position: relative;
    top: -10px;
    left: -10px;
    font-size: 24px;
    transition: 0.4s;
  }
  /* HEADER ICON*/
  .header-icon {
    margin: 10px 10px 0px 20px;
    width: 50px;
    transition: 0.4s;
  }

/*CONTENT LIST*/
  #content-list {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;

    z-index: 3;
    
    background-color: var(--background-color);
    box-shadow: 0px 2px 10px var(--background-highlight);

    visibility: hidden;
    opacity: 0;
    padding: 80px 0px 15px;
    font-size: 0px;
    transition: 1s;
  }
  #content-list .button {
    font-size: 0;
    opacity: 0;
    transition: 1s;
  }
  #content-list ul{
    list-style-type: none;
  }
  #content-list li{
    margin: 10px;
  }
  /* CONTENT LIST VISIBLE */
  #content-list.active{
    visibility: visible;
    font-size: 20px;
    opacity: 1;
  }
  #content-list.active .button{
    opacity: 1;
    font-size: 14px;
  }


/* MOVIES */
  #movies {
    text-align: center;
  }
  #movies .movies-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
  }
  #movies .movies-even{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    margin: 10px 30px 50px;
  }
  #movies .movies-odd{
    display: grid;
    grid-template-columns: 1fr 2fr;

    margin: 10px 30px 50px;
  }
  .button {
    background-color: var(--secundary-font-color);
    color: var(--main-font-color);
    padding: 10px 20px;
    border-radius: 10px;
    border-color: transparent;
  }

/***** HIGHLIGHTS *****/
  #highlights{
    display: flex;
    justify-content: space-evenly;
  }
  .highlight-gifs {
    width: 250px;
    background-color: var(--background-highlight);
    padding: 5px;
    border-radius: 5%;
  }
  .highlight-container{
    text-align: center;
  }
  .gif-container{
    overflow: hidden;
    width: 260px;
    height: 370px;
  }
  /*Descrição*/
  .highlight-description h2{
    text-align: center;
    font-size: 13px;
    padding: 10px;
    transition: font-size 1s;
  }
  .highlight-description{
    background-color: var(--background-highlight);
    border-radius: 10px;
    position: relative;
    bottom: 70px;
    left: 0px;
    transition: bottom 1s;
    z-index: 1;
  }
  /*Interatividade*/
  #gif3-container:hover .highlight-description, #gif3-container:hover .highlight-description h2,
  #gif2-container:hover .highlight-description, #gif2-container:hover .highlight-description h2,
  #gif1-container:hover .highlight-description, #gif1-container:hover .highlight-description h2 {
    font-size: 19px;
    bottom: 100px;
  }


/**** RANKING ****/
#ranking{
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ranking-container{
  position: relative;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  column-gap: 30px;
  height: 500px;
}

/*Ranking Itens*/
/*ADICIONAR O TAMANHO MAXIMO PRA NÃO FERRAR OS TAMANHOS DEPENDO DO TAMANHO DO NOME*/
.ranking-item{
  background-color: #C22121;
  position: relative;
  width: 100px;
}
#rank-4 {
  height: 100px;
  top: 350px;
}
#rank-2 {
  height: 200px;
  top: 250px;
}
#rank-1 {
  height: 300px;
  top: 150px;
}
#rank-3 {
  height: 150px;
  top: 300px;
}
#rank-5 {
  height: 50px;
  top: 400px;
}
/*Ranking-itens texts*/
.ranking-item *{
  bottom: 225px;
  position: relative;
}
.ranking-item h3, .ranking-item h2 {
  text-align: center;
  align-items: center;
  font-size: 20px;
}
.ranking-item sup{
  position: relative;
  top: 0px;
}
.ranking-item picture, .ranking-item img{
  left: 10px;
  box-shadow: 1px 8px 10px var(--background-color);

}
/***FOOTER***/
#footer {
  position: relative;
  top: 50px;
  padding-top: 10px;

  color: #C22121;
  font-size: 14px;
  text-align: center;
  
  background-color: black;
  box-shadow: 0px -2px 10px #292929;
}
#footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/*Responsividade*/
@media screen and (max-width: 860px){




  #movies .movies-even{
    display: flex;
    flex-direction: column-reverse;
  }
  #movies .movies-odd{
    display: flex;
    flex-direction: column;
  }
  #highlights{
    flex-direction: column;
    align-items: center;
  }
  #ranking #rank-4, #ranking #rank-5{
    visibility: hidden;
  }
  #footer div {
    flex-direction: column;
  }
}

